---
layout: default
---

<div class="home">

    <h1>FIUBA Apuntes</h1>
    <p>FIUBA Apuntes nació con el objetivo de digitalizar los apuntes de las materias que andan rondando por los pasillos de FIUBA.</p>
    <p>Además, queremos que cualquier persona sea libre de usarlos, corregirlos y mejorarlos.</p>

    <h2>Los apuntes!</h2>
    <ul class="accordion" data-accordion>
        {% for departamento in site.data.apuntes %}
        <li class="accordion-navigation">
            <a href="#{{ departamento.codigo-interno }}">{{ departamento.codigo}} &nbsp; {{ departamento.departamento }}</a>
            <div id="{{ departamento.codigo-interno }}" class="content">
                {% for apunte in departamento.apuntes %}
                <div class="row">
                    <div class="small-12 medium-8 columns">{{ apunte.codigo }} &nbsp; {{apunte.asignatura}}</div>
                    <div class="small-6 medium-2 columns"><a href="{{ apunte.repositorio}}">repositorio</a></div>
                    <div class="small-6 medium-2 columns"><a href="{{ apunte.pdf }}">PDF</a></div>
                </div>
                {% endfor %}
            </div>
        </li>
        {% endfor %}
    </ul>

</div>