<footer class="site-footer">
    <div class="row footer-wrapper">
        <div class="medium-4 columns">
            <ul class="contact-list">
                <li>{{ site.title }}</li>
                <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            </ul>
        </div>
        <div class="medium-4 columns">
            <ul class="social-media-list">
                {% if site.github_username %}
                <li>
                    <span class="fa fa-github"></span>
                    <a href="https://github.com/{{ site.github_username }}">
                        <span class="username">{{ site.github_username }}</span>
                    </a>
                </li>
                {% endif %}
                {% if site.twitter_username %}
                <li>
                    <span class="fa fa-twitter"></span>
                    <a href="https://twitter.com/{{ site.twitter_username }}">
                        <span class="username">{{ site.twitter_username }}</span>
                    </a>
                </li>
                {% endif %}
                {% if site.facebook_group %}
                <li>
                    <span class="fa fa-facebook-official"></span>
                    <a href="https://www.facebook.com/groups/{{ site.facebook_group }}">
                        <span class="username">{{ site.facebook_group }}</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="medium-4 columns">
            <p class="text">{{ site.description }}</p>
        </div>
    </div>
</footer>
