<nav class="top-bar fixed" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <a href="{{ site.baseurl }}/"><img src="../images/fiuba_apuntes.png" style="height: 100%;" /></a>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon">
            <a href="#"><span><!--Menu--></span></a>
        </li>
    </ul>
    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right" role="navigation" title="Menú">
            {% for page in site.pages %}
                {% if page.title %}
                    <li role="menuitem"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <!-- Left Nav Section -->
        <!--
        <ul class="left">
            <li><a href="#">Left Nav Button</a>
            </li>
        </ul>
        -->
    </section>
</nav>